// Green #6FCF97
- 
    var green= {
        'green': 'color-type__description_green',
        'name': 'Green',
        'code': '#6FCF97'
    }

mixin color-type__description_green
    p(class='bold')= green['name']
    p= green['code']