// Purple #BC9CFF
- 
    var purple= {
        'purple': 'color-type__description_purple',
        'name': 'Purple',
        'code': '#BC9CFF'
    }

mixin color-type__description_purple
    p(class='bold')= purple['name']
    p= purple['code']