@mixin color-type__type-example_h3 {
    h3 {
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        font-family: 'Montserrat Bold';
        color: #1F2041;
        text-transform: uppercase;
    }
}