@mixin color-type__type-index {
    .color-type__type-index {
        display: block;
        color: rgba(31, 32, 65, 0.25);
        font-family: 'Quicksand Bold';
        margin-right: 30px;
        h1 {
            margin: 0;
            font-size: 24px;
            line-height: 30px;
        }
    }
}