@import "color-type__plate";
@import "color-type__description";

@mixin color-type {
    .color-type {
        @include color-type__plate;
        @include color-type__description;
        width: 15%;
        display: flex;
        height: 70px;
        margin: 20px auto;
    }
}