include ./color-type__plate/color-type__plate.pug
include ./color-type__description/color-type__description.pug

mixin color-type(color)
    .color-type
        +color-type__plate(color)
        +color-type__description(color)