@import "color-type__description_green";
@import "color-type__description_purple";
@import "color-type__description_dark-shade-5";
@import "color-type__description_dark-shade-25";
@import "color-type__description_dark-shade-50";
@import "color-type__description_dark-shade-75";
@import "color-type__description_dark-shade-100";

@mixin color-type__description {
    .color-type__description {
        color: #1F2041;
        width: 100px;
        margin: auto;
        font-family: 'Quicksand Regular';
        font-size: 19px;
        font-weight: normal;
        p {
            margin: 0;
            padding: 0;
            white-space: nowrap;
        }
        .bold {
            white-space: nowrap;
            font-weight: 700;
        }
    }
}