@import "./color-type__plate/color-type__plate";
@import "./color-type__description/color-type__description";
@import "./color-type__type-index/color-type__type-index";
@import "./color-type__type-example/color-type__type-example";

@mixin color-type__color {
    .color-type__color {
        @include color-type__plate;
        @include color-type__description;
        display: flex;
        margin-bottom: 20px;
        justify-content: start;

    }
}

@mixin color-type__type {
    .color-type__type {
        @include color-type__type-index;
        @include color-type__type-example;
        display: flex;
        margin-bottom: 50px;
        justify-content: start;

    }
}