include color-type__plate_green.pug
include color-type__plate_purple.pug
include color-type__plate_dark-shade-5.pug
include color-type__plate_dark-shade-25.pug
include color-type__plate_dark-shade-50.pug
include color-type__plate_dark-shade-75.pug
include color-type__plate_dark-shade-100.pug

- 
    var plateColors= [
        dark_shade_100,
        dark_shade_75,
        dark_shade_50,
        dark_shade_25,
        dark_shade_5,
        purple,
        green
    ]

mixin color-type__plate(color)
    each val, index in plateColors
        - var plateColor= val
        each val, index in plateColor
            if index == color
                .color-type__plate(class= val)
